<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupFile01">Upload</label>
    <%= form.file_field :photo, class:"form-control", id:"inputGroupFile01" %>
  </div>


  <div class="field form-group">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :count, style: "display: block" %>
    <%= form.number_field :count, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, class:"form-control" %>
  </div>

  <div class="row mb-3">
    <h3>Categories</h3>
      <% Category.all.each_slice(4) do |categories_slice| %>
        <div class="col-2">
          <% categories_slice.each do |c1| %>
              <div class="form-check">
                <%= check_box_tag "item[category_ids][]", c1.id, @item.categories.include?(c1), class:"form-check-input" %>
                <label class="form-check-label" for="flexCheckDefault">
                  <%= c1.name %>
                </label>
              </div>
          <% end %>
        </div>
      <% end %> 
  </div>

  <div class="actions mt-2">
    <%= form.submit class:"btn btn-primary" %>
  </div>

  <div class="col-sm-2">
      <%= form.number_field :user_id, id: :item_user_id, value: current_user.id, type: :hidden %>
  </div>
<% end %>
