<p style="color: green"><%= notice %></p>

<div class="jumbotron">

  <div class="col">
    <div class="img-holder" style="background-image: url(<%= url_for(@item.photo.variant(resize_to_limit: [300, nil]).processed.url) %>);">
  </div>
  <h3>
    <%= @item.title %>
  </h3>
  <p>
    <%= @item.description %>
  </p>
  <p>
    Price: <strong><%= @item.price %>$</strong>
  </p>
  <p>
    Inventory Count: <%= @item.count %>
  </p>
  <div class="row mb-2">
    <div class="col">
       <h5>Featured in:</h5>
        <% @item.categories.each do |category| %>
            <%= link_to category.name, category_item_url(:category => category.id)%>
        <% end %>
    </div>
  </div>
  
</div>

<div class="btn-group">
  <% if current_user && current_user.id == @item.user_id  %>
    <%= link_to "Edit", edit_item_path(@item), class:"btn btn-primary" %>
  <% end %> 
  <%= link_to "Back", items_path, class: "btn btn-secondary"%>
  <% if current_user && current_user.id == @item.user_id  %>
      <%= button_to "Delete", @item, method: :delete, class:"btn btn-danger" %>
  <% end %> 
</div>
